.vs/
Library/
Logs/
Build/
obj/
Temp/
*.sln
*.csproj
Assets/Ludiq/Bolt.Flow/Generated/*.db
Assets/Ludiq/Bolt.Flow/Generated/*.db.meta
UserSettings/
.vsconfig
Packages/packages-lock.json
.idea
ProjectSettings/Packages/com.unity.probuilder
*.user

### FMOD Studio Project ###
FMOD/ritual/.*
!FMOD/ritual/Build/

### FMOD Unity Integration ###
!/[Aa]ssets/Plugins/FMOD/**/*.dll
!/[Aa}ssets/Gizmos/FMOD/*
!/[Aa}ssets/Editor Default Resources/FMOD/*

# Ignore the Cache-file since it is updated locally either way
/[Aa]ssets/**/FMODStudioCache.asset
/[Aa]ssets/**/FMODStudioCache.asset.meta
/[Aa]ssets/Plugins/FMOD/Cache.meta
/[Aa]ssets/Plugins/FMOD/Cache/Editor.meta

# Log-files
fmod.log
fmod_editor.log

# FMOD 1.10.x (Legacy)
/Assets/FMODAssets/*
/Assets/FMODStudioCache.meta
/Assets/FMODStudioCache.meta
Assets/StreamingAssets
Assets/StreamingAssets.meta
